.arbitrage {
  margin-bottom: 14px;
}

td {
  padding: 10px;
}

.card-body {
  line-height: 10px;
}

.card {
  margin: 20px 10.5px;
  box-shadow: rgb(0 0 0 / 6%) 0px 6px 20px;
}

p {
  margin-bottom: 1px;
}

.row {
  margin-left: 50px;
}
